* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* background-image: linear-gradient(black, white); */
  /* #21222A */
  overflow: auto;
  background-color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  padding-right: 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  z-index: 100;
}

.logo {
  color: #fff;
  font-size: 39px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;

}

nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

nav a:hover {
  color: red;
}

.content {
  position: absolute;
  top: 290px;
  /*background: rgba(0, 0, 0, 0.5);*/
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
  padding-bottom: 20px;
  opacity: 0;
  transition: 600ms;
  transition-timing-function: linear;
}

#myBtn {
  font-size: 18px;
  padding: 15px 43px;
  border: none;
  border-radius: 10px;
  background: purple;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition-duration: 400ms;
  margin-left: 128px;
  font-size: 18px;
}

#myBtn:hover {
  background: rgb(255, 0, 255);
  color: white;
  translate: 0px -8px;
}

.bgVideo {
  margin-top: -204px;
  width: 100%;

}

.header_blur {
  backdrop-filter: blur(10px);
}

.navbar {
  margin-right: 20px;
}

.join {
  margin: 0;
}

.welcome {
  font-size: 48px;
  margin-bottom: 10px;
}

.text_content {
  font-size: 25px;
}
.color{
  background-image: linear-gradient(black, #21222A);
}
.videoContainer {
  padding: 100px;
  /* background-image: linear-gradient(black, #21222A); */
/* background-color: #000000;*/
}

.trade {
  color: red;
  font-size: 55px;
  margin-bottom: 30px;
}

.tradeAsset {
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
}

.browse {
  margin-top: 20px;
  padding: 11px 53px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 600ms;
}
.browse:hover{
  background-color: rgb(242, 67, 67);
  translate: 0px -10px;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  color: white;
}

/* .textVideo {
  width: 700px;
  margin-right: 100px;
  position: relative;
  left: -230px;
  top: 0;
  transition-duration: 2s;
  opacity: 0;
} */

.videoContainer {
  display: flex;
  align-items: center;
  margin-top: -208px;
}

.lineContainer {
  width: 100%;
  height: 433px;
  padding: 64px;
  background-color: #0d0e10;
  /* border: 2px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none; */
  border: none;
  /* transition-duration:4s ; */
  position: relative;
}

.lineAppear {
  position: absolute;
  top: -3px;
  left: 0;
  width: 0;
  height: 1px;
  border: 2px solid white;
  transition: 2s;
}

.lineAppearBottom {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  border: 2px solid white;
  transition: 2s;
}

.lineContainer {
  display: flex;
}

.a {
  flex: 1;
  /*border: 2px solid black;*/
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.lineAppearMiddle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 0;
  border: 1px solid white;
  transition: 2s;
}

h1.line {
  text-align: center;
  /* margin-top: -100px; */
  margin-top: 30px;
  font-size: 30px;
  color: white;
}

p.linePara {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

button.lineBtn {
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: 400ms;
  
}
button.lineBtn:hover {
  background: rgb(0, 128, 255);
  color: white;
  translate: 0px -8px;
}
.vdContainer{
  height: 410x;
  width: 707px;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.vdScrollRotate{
  width: 100%;
  height: 100%;
  border-radius:30px;
  /* transition: 2s; */
}
.scrollRotate{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* background-image: linear-gradient(black, #21222A); */
}
.contentContainer{
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px;
  margin-left: 200px;
  left: 500px;
  transition: 2s;
  opacity: 0; */
}
.titleRotate{
  text-align: center;
  /* margin-top: -100px; */
  margin-top: 30px;
  font-size: 60px;
  color: white;
  font-weight: 100;
}
.paraRotate{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(black,#21222A);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* margin-left: 50px; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 50px;
}